<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Good news, <%= @user.email %></h1>
    <% binding.pry %>
    <p>
      You have completed a lesson on <%= @booking.created_at %>
      of category <%= @booking.tour.name %> <br>
    </p>
    <p> You have just learned 10 new words, greate job ! </p>
    <p>Practice makes perfect!</p>
  </body>
</html>
