<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Good news, <%= @user.email %></h1>
    <p>
      Your tour booking has been pending to admin user <%= @booking.tour.name %> <br>
    </p>
    <p> Thanks for trust and use our system </p>
  </body>
</html>
