<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @user.email %></h1>
    <p>
      Your tour booking has been ignored by admin user <%= @booking.tour.name %> <br>
    </p>
    <p> We so sorry about that </p>
  </body>
</html>
